.section-container {
    display: flex;
}

.section-left-side,
.section-right-side {
    width: 50%;
    height: 100vh;
    position: relative;
}


.section-right-side {
    background-color: #25282A;
}

.section-top-img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 40%;
    height: 60%;
    opacity: .5;
    background-image: url('/src/assets/img/section-page-bg-img-top.png');
    background-repeat: no-repeat;
}

.section-bottom-img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 62%;
    height: 37%;
    opacity: .5;
    background-repeat: no-repeat;
}

.section-title {
    font-weight: 1000;
    font-size: 64px;
    line-height: 100px;
    text-transform: uppercase;
    user-select: none;
    margin-top: 200px;
    margin-bottom: 5px;
    margin-left: 75px;
    padding: 0;
}

.mobile-section-title {
    display: none;
}

.article-title {
    text-decoration: none;
    font-weight: 350;
    font-size: 35px;
    line-height: 50px;
    color: #FFF;
    cursor: pointer;
    user-select: none;
}

.article-title.article-select {
    color: #FBA91B;
}

.article-title:hover {
    color: #FBA91B;
    transition: all .3s;
}

.article-text {
    margin-left: 76px;
    box-sizing: border-box;
    font-size: 28px;
    line-height: 53px;
    color: #FFF;
    padding: 0px;
    max-height: 45vh;
    overflow-y: auto;

    scrollbar-width: 8px;
    scrollbar-color: #FBA91B transparent;
}

.article-text::first-letter {
    color: #FBA91B;
}

.article-text::-webkit-scrollbar {
    width: 8px;
    /* ширина scrollbar */
}

.article-text::-webkit-scrollbar-track {
    background: transparent;
    /* цвет дорожки */
}

.article-text::-webkit-scrollbar-thumb {
    background-color: #FBA91B;
    /* цвет плашки */
    border-radius: 5px;
    /* закругления плашки */
    /* border: 10px solid transparent; */
    /* padding вокруг плашки */
}

.arrow-back {
    display: block;
    position: absolute;
    top: 24%;
    right: 2%;
    z-index: 10;
}

.arrow-back:hover {
    cursor: pointer;
}