header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px 0px 100px;
    position: absolute;
    user-select: none;
    z-index: 10;
    box-sizing: border-box;
}

header .header__left {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

header .header__left__logo {
    width: auto;
    height: 57px;
    cursor: pointer;
}

.menu-link {
    text-align: right;
    margin: 5px 0;
}

.menu-link:hover {
    transform: scale(1.02);
    transition: all .3s;
}

.menu-link-text>a,
.menu-address>a,
.menu-phone>a,
.menu-mail>a {
    text-decoration: none;
    color: #A2A2A2;
}

.menu-link-text {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #FFF;
    text-transform: capitalize;
    text-decoration: none;
}

.menu-link-text:hover {
    color: #FBA91B;
    transition: all .2s;
}

.menu-link-text.selected-menu-link {
    color: #FBA91B;
}

.menu-address {
    margin-top: auto;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: right;
    color: #A2A2A2;
}

.menu-phone {
    font-weight: 400;
    font-size: 54px;
    line-height: 80px;
    text-align: right;
    color: #706F6F;
    margin-top: 0;
    margin-bottom: 30px;
}

.menu-mail {
    margin-top: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 59px;
    text-align: right;
    color: #5E5C5C;
}

.burger-menu {
    box-sizing: border-box;
    height: 30px;
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 35px;
    height: 3px;
    /* background-color: #FBA91B; */
    border-radius: 1px;
}

.menu {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.menu-right-side {
    width: 50%;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-right: 40px;
    box-sizing: border-box;
}

.menu-left-side {
    width: 50%;
    background-color: #464646;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: left top;
    background-color: #D60000;
    width: 40px;
    transition: ease-out .3s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0);
    transition: ease-out .3s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: left bottom;
    background-color: #D60000;
    width: 40px;
    transition: ease-out .3s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}