@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #1E1E1E;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.nav-menu {
  display: flex;
  padding: 40px;
}

.logo {
  display: block;
  cursor: pointer;
}

.element {
  width: 196px;
  height: 196px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.ready-desicion-text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.305em;
  color: #FBA91B;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, 550%);
}