@font-face {
  font-family: 'VKSD-DemiBold';
  src: url('./assets/fonts/VKSD-DemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VKSD-Regular';
  src: url('./assets/fonts/VKSD-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #282828;
  --primary-color: #FBA91B;
}

body {
  margin: 0;
  background-color: #1E1E1E;
  font-family: 'VKSD-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.ready-desicion-text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.305em;
  color: #FBA91B;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, 540%);
  white-space: nowrap;
}